<div class="card-header d-flex justify-content-between">
  <h4 class="m-0 text-dark">Todo Lists</h4>
  <%= link_to 'Back', todo_lists_path, class: 'btn btn-secondary btn-sm' %>
</div>

<%= render 'form', todo_list: @todo_list %>
